* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 1.5rem; /* resize the window--sketch-area with browser font size */
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

    /* height: 100vh; remove scrollbar */
}

.window--sketch-area {
    /* sizing for 16x16 tiles */
    height: 25rem; 
    width: 25rem;
    margin: 3.5rem;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    border: 0.5rem solid black;
}

.window--sketch-area__tile {
    width: 1.5rem;
    height: 1.5rem;

    background-color: gainsboro;
    border: 0.01rem dotted grey;
}

.button--new-grid {
    margin-top: 1rem;
}

.button--new-grid > img {
    width: 3rem;
    height: auto;
}