* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 1.5rem; /* resize the window--sketch-area with browser font size */
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

    background-color: cornsilk;
}

.window--sketch-area {
    /* sizing for 16x16 tiles */
    height: 25rem; 
    width: 25rem;
    margin: 1.5rem;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    background-color: #B22222;
    border: 0.5rem solid #B22222;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 0.2rem grey;
}

.window--sketch-area__tile {
    width: 1.5rem;
    height: 1.5rem;

    background-color: whitesmoke;
}

.tile-menu {
    align-self: center;
}

.tile-menu > button {
    margin: 1rem 0.2rem 0 0.2rem;
    padding: 0.5rem;

    align-self: flex-end;
}

.tile-menu > button > img
{
    width: 2rem;
    height: 2rem;
}